@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@200:400:700&display=swap');
body {
  background-color: #13151c;
  color:  #808080;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  display:grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

section {
  display:grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  
}
.ascii-art {
    font-family: monospace;
    white-space: pre;
}

